.CMmodifyback {
  display: flex;
  height: 90vh;
  width: 82vw;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1vw;
  overflow-x: hidden;
}
.CMmodifyform {
  display: flex;
  width: 40vw;
  margin-right: 25vw;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.CMsubformelements {
  width: 8vw;
  margin-right: 2vw;
  font-style: italic;
  font-size: 2vh;
}

.CMactiveclassActive {
  height: 3vh;
  width: 5.5vw;
  background-color: chartreuse;
  font-size: 2vh;
  padding: 0.5vw;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  font-weight: bolder;
}
.CMactiveclassPause {
  height: 3vh;
  width: 5.5vw;
  background-color: rgb(255, 0, 13);
  font-size: 2vh;
  padding: 0.5vw;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  font-weight: bolder;
}
.CMinactiveclass {
  height: 3vh;
  width: 5.5vw;
  background-color: rgb(255, 254, 255);
  font-size: 2vh;
  padding: 0.5vw;
  font-weight: bolder;
}


.CMactiveclass:hover,
.CMinactiveclass:hover {
  cursor: pointer;
}
.toggles {
  display: flex;
  flex-direction: row;
}
