.CVviewback {
  display: flex;
  flex-direction: column;
  width: 82vw;
  height: 90vh;
  justify-content: start;
  overflow-x: hidden;
  padding: 2vw;
  align-items: center;
}
.CVfilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1vw;
}
.CVtableheading {
  background-color: #8cb3d9;
}
