.viewback2 {
  display: flex;
  height: 90vh;
  width: 81vw;
  flex-direction: column;
  background-color: white;
  overflow: auto;
  align-items: center;
  justify-content: start;
  padding: 1vw;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1vw;
}
.tableheading {
  background-color: #8cb3d9;
}

option {
  width: 15vw;
}
