@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary: #3b78c6;
}

.form-login {
  height: 100vh;
  display: grid;
  place-items: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.mr-3rem {
  margin-right: 3rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.layout-login {
  height: 400px;
  width: 600px;
  background-color: var(--primary);
  border-radius: 10px;
}

.mainback {
  background-color: #3b78c6;
}

.form-input {
  border-color: transparent;
  border-radius: 5px;
}

.captcha {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
