@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary: #3b78c6;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

.form-login {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.mr-3rem {
  margin-right: 3rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.layout-login {
  height: 400px;
  width: 600px;
  background-color: var(--primary);
  border-radius: 10px;
}

.form-input {
  border-color: transparent;
  border-radius: 5px;
}

.captcha {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-options div {
  cursor: pointer;
}

.header-options div:first-child {
  margin-right: 2rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login-buttons {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.login-buttons a {
  padding: 0.75rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  margin-right: 3rem;
  width: 160px;
  text-align: center;
}
