.mainback {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}
.toppart {
  background-color: #8cb3d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  font-weight: bold;
  font-size: 4vh;
  position: fixed;
}
.agentdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto;
  position: absolute;
  margin-left: 75vw;
  font-size: 3vh;
  font-weight: lighter;
}
.bottompart {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  margin-top: 10vh;
}
.navbar {
  width: 18vw;
  height: 90vh;
  background-color: #204161;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 2vh 1.5vw 2vh 1.5vw;
  font-weight: bolder;
  font-size: 1vw;
  position: fixed;
}
.headings {
  color: white;
  margin-top: 3vh;
  padding: 0%;
  text-decoration: none;
}
.headings:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}
.subheadings {
  text-decoration: none;
  color: white;

  font-size: 1.8vh;
}
.subheadings:hover,
.activesubheadings {
  text-decoration: none;
  font-size: 1.8vh;

  color: yellow;
}
.activeheadings {
  color: yellow;
  text-decoration: none;
  margin-top: 3vh;
  padding: 0%;
}
.activesubheadings:hover,
.activeheadings:hover {
  color: yellow;
}
.routearea {
  height: auto;
  width: auto;
  margin-left: 18vw;
  overflow: auto;
  height: 90vh;
  width: 82vw;
  overflow: hidden;
}
