.passback {
  display: flex;
  flex-direction: column;
  width: 82vw;
  height: 90vh;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  padding: 2vw;
}
.formarea {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}
button {
  width: auto;
  padding: 3px;
  text-align: center;
  height: auto;
}

#feature {
  width: 3vw;
}
.box {
  min-width: 60vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.comp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.accbox {
  width: 11vw;
  height: 20vh;
  border: 1px solid black;
  margin-right: 6px;
  margin-left: 6px;
  overflow: auto;
}
