.viewback {
  display: flex;
  height: 90vh;
  width: 82vw;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1vw;
  overflow-x: hidden;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1vw;
}
.tableheading {
  background-color: #8cb3d9;
}
td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 6px;
  border-collapse: collapse;
}
table {
  border-collapse: collapse;
}
